{% extends 'ProjectCmsBundle::layout.html.twig' %}

 {% block body %}


<div class="row" style="margin-right: 6px;margin-left: 27px;">
                        <div class="col-md-3 pt-15">
                            <div class="widget-wrap">
                                <h2 class="widget-title"> <span class="light-font">Fabrication</span> <strong> category</strong> </h2>
                                <div class="divider-full-1"></div>
                          {% if queryMenu is defined and queryMenu|length>0 %}
                                <ul class="cate-widget">
			         {% for mainProductMenu in queryMenu %}
                                 <li> <i class="fa fa-arrow-circle-o-right clr-txt"></i> <a href="{{ path('_page_msfabrication_list', { 'urlAlias':mainProductMenu.pageUrl }) }}">{{mainProductMenu.pageTitle}}</a> </li>
                                 {% endfor %}
				</ul>
                         {% endif %}
                             </div>
                     
                        </div>

                        <div class="col-md-9 pt-15">
                            <div class="product-single sec-space-bottom  clearfix">

                               <div class="col-lg-6">
                                    <div class="product-content block-inline">

                                       
                                        <div class="single-caption"> 
                                            <h3 class="section-title">
                                                <a href="#"> <span class="light-font"> {% if result[0].fabricationName is defined %}{{ result[0].fabricationName|raw}}{% endif %} </span></a>
                                            </h3>
                                                                                                                                                                  
                                            <div class="divider-full-1"></div>
                                            
                                            <div class="add-cart pt-15">
                                                
                                                 <!-- Single ENQUIRE NOW Start --> 
<form name="enqury" action="http://demo2.infobuzz.in/web/app_dev.php/thankyou.php" id="enqury" method="POST">
<div class="modal fade" id="modalRegisterForm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header text-center">
        <h4 class="modal-title w-100 font-weight-bold">ENQUIRE NOW: {% if result[0].productName is defined %}{{ result[0].productName|raw}}{% endif %}</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <input type="hidden" id="orangeForm-name" name="product_name" class="form-control validate" value="{% if result[0].productName is defined %}{{ result[0].productName|raw}}{% endif %}">

          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body mx-3">
        <div class="md-form mb-5">
          <i class="fa fa-user prefix grey-text"></i><label data-error="wrong" data-success="right" for="orangeForm-name">Your name :</label>

          <input type="text" id="orangeForm-name" name="name" class="form-control validate" required maxlength="50">
        </div>
        <div class="md-form mb-5">
          <i class="fa fa-envelope prefix grey-text"></i><label data-error="wrong" data-success="right" for="orangeForm-email">Your email :</label>

          <input type="email" id="orangeForm-email" name="email" class="form-control validate" required maxlength="100">
        </div>

        <div class="md-form mb-4">
          <i class="fa fa-lock prefix grey-text"></i><label data-error="wrong" data-success="right" for="orangeForm-pass">Your Mobile No :</label>

          <input type="text" id="orangeForm-mobile" name="mobile" class="form-control validate" required maxlength="11" pattern="[7-9]{1}[0-9]{9}">
        </div>
       <div class="md-form mb-5">
          <i class="fa fa-user prefix grey-text"></i><label data-error="wrong" data-success="right" for="orangeForm-name">City :</label>

          <input type="text" id="orangeForm-city" name="city" class="form-control validate" required maxlength="50">
        </div>
           <div class="md-form mb-5">
          <i class="fa fa-user prefix grey-text"></i><label data-error="wrong" data-success="right" for="orangeForm-name">Quantity  :</label>

          <input type="text" id="orangeForm-quantity" name="quantity" class="form-control validate" required maxlength="50">
        </div>
        <div class="md-form mb-4">
          <i class="fa fa-lock prefix grey-text"></i><label data-error="wrong" data-success="right" for="orangeForm-pass">Description: </label>
          <textarea type="text" id="form8" name="discription" class="md-textarea form-control" rows="2" required maxlength="500"></textarea>
        </div>

      </div>
      <div class="modal-footer d-flex justify-content-center">
        <button class="btn btn-deep-orange">ENQUIRE NOW</button>
      </div>
    </div>
  </div>
</div>

</form>

<div class="text-center">
  <a href="" class="theme-btn btn" data-toggle="modal" data-target="#modalRegisterForm">ENQUIRE NOW</a>
</div>
 <!-- Single ENQUIRE NOW End --> 
                                                
                                                
                                                
                                            </div><br>
                                            
                                            
                                            
                                        </div>
                                    </div>
                                </div> 
				<div class="fsz-16">
				{% if result[0].pageDescription is defined %}{{ result[0].pageDescription|raw }}{% endif %}
				</div>
                              
<b>
<a href="#"> <span class="light-font"> {% if result[0].fabricationName is defined %}{{ result[0].fabricationName|raw}}{% endif %} GALLERY </span></a>
</b></br></br>
            <!-- Our Products Starts-->
            <section class="organic-product sec-space-bottom">
                <div class="container"> 
                    <div class="row"> 
                        <div class="col-lg-8 col-sm-12"> 
                            <div class="row"> 


{% if result[0].firstimage.id is defined and result[0].firstimage.id|length>0 %}
{% set imageType = 'jpeg' %}
{% set imageTypeArry = result[0].firstimage.contentType|split('/') %}
{% set imageType = imageTypeArry[1] %}

<div class="col-sm-4" style="margin-bottom:20px"> 
<div class="organic-prod">
<a href="../../uploads/media/default/0001/01/thumb_{{result[0].firstimage.id}}_default_td_600.{{imageType}}" class="big">
<img src="../../uploads/media/default/0001/01/thumb_{{result[0].firstimage.id}}_default_td_300.{{imageType}}" alt=""></a>
</div>
</div>
{% endif %}


{% if result[0].secondimage.id is defined and result[0].secondimage.id|length>0 %}
{% set imageType = 'jpeg' %}
{% set imageTypeArry = result[0].secondimage.contentType|split('/') %}
{% set imageType = imageTypeArry[1] %}

<div class="col-sm-4" style="margin-bottom:20px"> 
<div class="organic-prod">
<a href="../../uploads/media/default/0001/01/thumb_{{result[0].secondimage.id}}_default_td_600.{{imageType}}" class="big">
<img src="../../uploads/media/default/0001/01/thumb_{{result[0].secondimage.id}}_default_td_300.{{imageType}}" alt=""></a>
</div>
</div>
{% endif %}


{% if result[0].thirdimage.id is defined and result[0].thirdimage.id|length>0 %}
{% set imageType = 'jpeg' %}
{% set imageTypeArry = result[0].thirdimage.contentType|split('/') %}
{% set imageType = imageTypeArry[1] %}

<div class="col-sm-4" style="margin-bottom:20px"> 
<div class="organic-prod">
<a href="../../uploads/media/default/0001/01/thumb_{{result[0].thirdimage.id}}_default_td_600.{{imageType}}" class="big">
<img src="../../uploads/media/default/0001/01/thumb_{{result[0].thirdimage.id}}_default_td_300.{{imageType}}" alt=""></a>
</div>
</div>
{% endif %}

{% if result[0].forthimage.id is defined and result[0].forthimage.id|length>0 %}
{% set imageType = 'jpeg' %}
{% set imageTypeArry = result[0].forthimage.contentType|split('/') %}
{% set imageType = imageTypeArry[1] %}

<div class="col-sm-4" style="margin-bottom:20px"> 
<div class="organic-prod">
<a href="../../uploads/media/default/0001/01/thumb_{{result[0].forthimage.id}}_default_td_600.{{imageType}}" class="big">
<img src="../../uploads/media/default/0001/01/thumb_{{result[0].forthimage.id}}_default_td_300.{{imageType}}" alt=""></a>
</div>
</div>
{% endif %}



{% if result[0].fifthimage.id is defined and result[0].fifthimage.id|length>0 %}
{% set imageType = 'jpeg' %}
{% set imageTypeArry = result[0].fifthimage.contentType|split('/') %}
{% set imageType = imageTypeArry[1] %}

<div class="col-sm-4" style="margin-bottom:20px"> 
<div class="organic-prod">
<a href="../../uploads/media/default/0001/01/thumb_{{result[0].fifthimage.id}}_default_td_600.{{imageType}}" class="big">
<img src="../../uploads/media/default/0001/01/thumb_{{result[0].fifthimage.id}}_default_td_300.{{imageType}}" alt=""></a>
</div>
</div>
{% endif %}



{% if result[0].sixthimage.id is defined and result[0].sixthimage.id|length>0 %}
{% set imageType = 'jpeg' %}
{% set imageTypeArry = result[0].sixthimage.contentType|split('/') %}
{% set imageType = imageTypeArry[1] %}

<div class="col-sm-4" style="margin-bottom:20px"> 
<div class="organic-prod">
<a href="../../uploads/media/default/0001/01/thumb_{{result[0].sixthimage.id}}_default_td_600.{{imageType}}" class="big">
<img src="../../uploads/media/default/0001/01/thumb_{{result[0].sixthimage.id}}_default_td_300.{{imageType}}" alt=""></a>
</div>
</div>
{% endif %}

</div>
        <div class="row"> 
{% if result[0].seventhimage.id is defined and result[0].seventhimage.id|length>0 %}
{% set imageType = 'jpeg' %}
{% set imageTypeArry = result[0].seventhimage.contentType|split('/') %}
{% set imageType = imageTypeArry[1] %}

<div class="col-sm-4" style="margin-bottom:20px"> 
<div class="organic-prod">
<a href="../../uploads/media/default/0001/01/thumb_{{result[0].seventhimage.id}}_default_td_600.{{imageType}}" class="big">
<img src="../../uploads/media/default/0001/01/thumb_{{result[0].seventhimage.id}}_default_td_300.{{imageType}}" alt=""></a>
</div>
</div>
{% endif %}



{% if result[0].eightthimage.id is defined and result[0].eightthimage.id|length>0 %}
{% set imageType = 'jpeg' %}
{% set imageTypeArry = result[0].eightthimage.contentType|split('/') %}
{% set imageType = imageTypeArry[1] %}

<div class="col-sm-4" style="margin-bottom:20px"> 
<div class="organic-prod">
<a href="../../uploads/media/default/0001/01/thumb_{{result[0].eightthimage.id}}_default_td_600.{{imageType}}" class="big">
<img src="../../uploads/media/default/0001/01/thumb_{{result[0].eightthimage.id}}_default_td_300.{{imageType}}" alt=""></a>
</div>
</div>
{% endif %}


{% if result[0].ninthimage.id is defined and result[0].ninthimage.id|length>0 %}
{% set imageType = 'jpeg' %}
{% set imageTypeArry = result[0].ninthimage.contentType|split('/') %}
{% set imageType = imageTypeArry[1] %}

<div class="col-sm-4" style="margin-bottom:20px"> 
<div class="organic-prod">
<a href="../../uploads/media/default/0001/01/thumb_{{result[0].ninthimage.id}}_default_td_600.{{imageType}}" class="big">
<img src="../../uploads/media/default/0001/01/thumb_{{result[0].ninthimage.id}}_default_td_300.{{imageType}}" alt=""></a>
</div>
</div>
{% endif %}


{% if result[0].tenthimage.id is defined and result[0].tenthimage.id|length>0 %}
{% set imageType = 'jpeg' %}
{% set imageTypeArry = result[0].tenthimage.contentType|split('/') %}
{% set imageType = imageTypeArry[1] %}

<div class="col-sm-4" style="margin-bottom:20px"> 
<div class="organic-prod">
<a href="../../uploads/media/default/0001/01/thumb_{{result[0].tenthimage.id}}_default_td_600.{{imageType}}" class="big">
<img src="../../uploads/media/default/0001/01/thumb_{{result[0].tenthimage.id}}_default_td_300.{{imageType}}" alt=""></a>
</div>
</div>
{% endif %}
                              
                            </div>
                        </div>
            </section>



                            </div>  


                           </div>
                            </div>


                        </div>
                    </div>



 {% endblock %}
